{{snippet "head"}}

<p>
	Hello, my name is {{fullName name}}. I am from {{hometown}}.
	I have {{kids.length}} kids:
</p>
<ul>
	{{#kids}}
		<li>{{name}} is {{age}}</li>
	{{/kids}}
</ul>

{{snippet 'component1' }}

{{> 'component1' name="Woho!" }}

{{snippet 'component1' data='{"name": "Woho!!!!"}' }}

{{snippet "foot" }}
